<h1>
    Vous avez choisi d’aller dans la pièce au fond du couloir
</h1>
<p class="narration">
    Tu rentres dans la première chambre sur ta droite.
    <br>Malheureusement pour toi, tu te rends bien vite compte qu’elle n’est pas vide.
    <br>Un garçon d’une quinzaine d’années se rue sur toi, toutes dents dehors.
    <br>Tu parviens à l’éviter de justesse, mais ta jambe te trahis et tu tombes au sol.
    <br>Il se jette à nouveau sur toi.
    <br>Il ressemble à un monstre, un zombie.
    <br>
    <br>Tu as peur.
    <br>
    <br>Après tout, à quoi cela peut bien servir ?
    <br>
</p>
<br>
<br>