<h1>
    Vous avez choisi de rester dans la pièce
</h1>
<p class="narration">
    Des bruits de griffures légères sur la porte.
    <br>Tu t’approches lentement.
    <br>
    <br>Lentement…
    <br>
    <br>Très lentement…
    <br>
    <br>Tu entends chaque inspiration que tu prends, chaque expiration que tu relâches.
    <br>Tu tends la main devant toi, toujours en te rapprochant avec lenteur et silence.
    <br>Et juste quand tes doigts effleurent le battant…
    <br>
    <br>La porte explose.
    <br>
    <br>Celui qui approchait dans le couloir l’a enfoncé.
    <br>Tu es projetée contre le sol, ta jambe heurtant le lit au passage.
    <br>
    <br>Le silence reprend de nouveau dans la salle…
    <br>
    <br>Une toute petite fille apparaît, 5 ans, peut être 6. Elle a un fin filet de sang qui ruisselle le long de sa tempe, jusqu’à son menton.
    <br>Pourtant, elle n’a pas l’air de vouloir l’essuyer.
    <br>Tu remarques qu’elle tient un ours en peluche à la main, et que dans l’autre main brille…
    <br>
    <br>Un couteau.
    <br>
</p>
<p class="citation">
    -Ils sont tous partis. Ils m’ont laissé. Maintenant ils sont tous sous la terre et je n’ai pu personne pour jouer avec moi. Tu joues avec moi, dis ?
</p>
<p class="narration">
    Tu ne sais pas quoi dire.
    <br>Elle a l’air si jeune et pourtant elle n’inspire rien de bon. Rien de bienveillant.
    <br>Aucune innocence caractéristique d’un si jeune âge ne transparaît chez elle.
</p>
<p class="citation">
    -Pourquoi tu réponds pas ? Tu vas me laisser, comme tous les autres ? Joue avec moi ! Joue avec moi ! JOUE AVEC MOI !”
</p>
<p class="narration">
    L’enfant devient menaçante.
    <br>Une vive lueur de rage brille dans ses yeux. Une lueur qui te glace le sang.
    <br>Qui n’a rien d’humain.
    <br>Inquiet, ton regard se pose sur les seringues vides
</p>
<br>
<br>