<h1>
    Vous avez choisi de vous résigner à la mort
</h1>
<p class="narration">
    Tu te laisses aller contre le sol.
    <br>Tu ne sais que faire, de toute manière.
    <br>Le garçon plante ses dents dans ton bras.
    <br>
    <br>Tu hurles.
    <br>
    <br>Tes larmes coulent.
    <br>
    <br>Tu as mal.
    <br>
    <br>Est-ce de cette façon que tu vas mourir ?
    <br>Cette perspective te dépite…
    <br>
    <br>Tu abandonnes.
    <br>
    <br>Ça ne vaut plus la peine.
    <br>
    <br>Tu ne ressens peu à peu plus la douleur.
    <br>
    <br>Ton corps devient lourd, transit.
    <br>
    <br>Tu as froid.
    <br>
    <br>Tu as l’impression qu’on tente de te sauver.
</p>
<p class="citation">
    “À quoi bon ?”
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>Tout devient noir.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>Tu te sens bien.
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</p>
<p class="interaction1">
    <br>
    <br>
    <br>
    <br>
    <br><br> Biiiiiiiiiiiiip…
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>