<h1>
    Vous avez choisi de continuer le combat
</h1>
<p class="narration">
    L’attaque est fulgurante.
    <br>Alors que tu évitais le coup de l’immense loup noir, un Sans Âme te saute au cou.
    <br>Tu étais trop absorbé par tes doutes à l’encontre de Ben.
    <br>
    <br>Ta gorge est arrachée.
    <br>
    <br>Ton sang coule sur le sol.
    <br>La bête te regarde. Tu lui souris.
    <br>Tu tends mollement la main vers elle.
    <br>Elle s’approche, et frotte son énorme tête contre la paume de ta main.
    <br>Tu perds toute sensation.
    <br>Le corps de la bête s’estompe peu à peu, jusqu’à disparaître réellement.
    <br>Et alors, ton corps avance.
    <br>Il avance parmi les Sans Âmes.
    <br>
    <br>Parmi tes semblables.
</p>
<p class="interaction1">
    <br>
    <br>
    <br>
    <br>
    <br><br> Biiiiiiiiiiiiip…
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>