<h1>
    Vous avez choisi de vous jeter sur les seringues
</h1>
<p class="narration">
    Tu te jettes sur la seringue au moment même où l’enfant se jetait sur toi.
    <br>Tout se passe alors très vite.
    <br>
    <br>Tu te retrouves dos à la table, brandissant une seringue vide.
    <br>Une fraction de seconde plus tard, la fillette monstrueuse est plaquée contre toi, montrant les dents dans une expression atroce.
    <br>Sans réfléchir, presque par réflexe, tu lui plantes la seringue à la base du cou, et tu appuies, injectant l’air qu’elle contient.
    <br>
    <br>La fillette te lâche alors, tenant son cou de deux mains crispées, puis son cœur et, enfin, te regarde, incrédule, avant de s’écrouler à terre.
    <br>
    <br>Tu hurles.
    <br>
    <br>Tu hurles tout l’air de tes poumons.
    <br>
    <br>Tu tombes à terre et te tiens la tête le plus fort possible.
    <br>Tu te sens mal, terriblement mal.
    <br>Une petite voix dans ton esprit, te dis que tu es en état de choc.
    <br>Certainement le seul raisonnement lucide dont tu es actuellement capable.
</p>
<p class="citation">
    “Mais c’étais quoi CA ?”
</p>
<p class="narration">
    Tu as terriblement peur. Mais en même temps, tu te dis que tu ne dois pas rester là.
    <br>Tu te lèves, titubant, ta jambe te faisant plus mal que ce que tu pensais.
    <br>
    <br> Alors, tu te diriges vers la porte.
</p>
<br>
<br>
<br>
<br>