<h1>
    Vous avez choisi de voir la suite
</h1>
<p class="narration">
    La bête est dans le couloir.
    <br>
    <br>Tu te retournes.
    <br>
    <br>Non non, c’est bon, tu n’as pas à t’inquiéter pour Ben.
    <br>Il est là depuis bien plus longtemps que toi, et de toute manière il t’a dit que la bête était TA bête.
    <br>Elle ne l’attaquera pas.
    <br>
    <br>Cela te rassure.
    <br>
    <br>Près de la porte a été installé une hache d’incendie, protégée par une vitre.
    <br> Tu entoures un linge autour de ton poing et la brises.
    <br>La hache est légère dans ta main.
    <br>Tranchante, meurtrière.
    <br>Une extension de ta volonté, de la motivation que tu mettras dans ce combat.
</p>
<p class="citation">
    “Jusqu’à ce que la lumière apparaisse de nouveau.”
</p>
<p class="narration">
    Tout ce passe très vite.
    <br>
    <br>Tu retires le portant qui condamnait la porte d’un coup sec, assuré.
    <br>Au même moment, tu te jettes de côté.
    <br>La bête, le loup noir gigantesque, entre violemment dans la pièce.
    <br>
    <br>Il hurle, il gronde.
    <br>
    <br> A contre jour, il a l’air plus imposant que jamais.
    <br> Sans réfléchir – car tout semble clair dans ton esprit à présent – tu détales vers la porte.
    <br>Tu passes tellement près du loup que ta peau nue effleure sa fourrure.
    <br>
    <br>Il se retourne.
    <br>
    <br>Avant que sa mâchoire ne se referme sur toi, tu lui assènes un coup de hache dans le flanc.
    <br>Il jappe et s’écarte vivement de toi.
    <br>Tu en profites pour fuir dans le couloir.
</p>
<p class="citation">
    “Dehors. Je dois aller dehors.”
</p>
<p class="narration">
    Mais devant toi se dressent deux personnes, une clairement plus jeune que l’autre.
    <br>
    <br>Un enfant et un adulte.
    <br>
    <br>Et à en juger par le rictus monstrueux qui déforme leur visage, ce sont des Sans Âmes.
    <br>Tu ne peux pas prendre le luxe de t’arrêter, la bête est de nouveau à tes trousses derrière toi.
</p>
<br>
<br>