<h1>
    Vous avez choisi de vous battre contre les Sans Âmes
</h1>
<p class="narration">
    Tu continues de te battre, encore et toujours.
    <br>Tu esquives tant bien que mal les coups du loup, tout en frappant les Sans Âmes à répétition.
    <br>De temps à autres, tu roules sur le côté, assènes un coup de hache ou de barre à la bête et reprends ton combat acharné contre les Sans Âmes.
</p>
<p class="integration4">
    Encore.
</p>
<p></p>
<p class="narration">
    Malgré tout, tes coups sont de moins en moins assurés.
    <br>Le nombre d’ennemis continuer d’augmenter.
    <br>Comme tu le pressentais, tu vas être submergé.
    <br>Mais il n’est pas question de se résigner aussi vite.
</p>
<p class="integration3">
    Encore.
</p>
<p class="narration">
    Tu donnes plus de vigueur à tes coups.
    <br>Tu t’appliques à utiliser plus la hache que la barre, infligeant plus de dommages.
    <br>La danse macabre reprend de plus belle, plus vite, plus fort, plus précis.
</p>
<p class="integration2">
    Encore, encore.
</p>
<p class="narration">
    Les rangs des ennemis s’éclaircissent légèrement.
    <br>Si tu parviens à garder ce rythme sans jamais baisser ta garde, tu peux t’en sortir.
    <br>Ta volonté est de fer.
</p>
<p class="integration1">
    ENCORE !
</p>
<p class="narration">
    La lumière apparaît.
    <br>Le loup est derrière toi.
    <br>Il te suffit de te laisser mourir pour rejoindre ton monde.
    <br>Mais tu es soudain pris d’un doute.
    <br>Et si ce Ben t’avais menti ?
    <br>Ton esprit remet en question ce qu’il t’a dit, cela te semble soudain bizarre.
</p>
<br>
<br>