<h1>
    Vous avez choisi de voir la suite
</h1>
<p class="narration">
    Tu ouvres les yeux.
    <br>Une désagréable sensation de déjà vu.
    <br>Une lumière crue t’éblouis et tu portes la main devant tes yeux.
    <br>Un catétère y est planté.
</p>
<p class="citation">
    - DANIEL !
    <br>- Écartez-vous madame, nous devons le prendre en charge !
    <br>- Oh, Daniel, je suis tellement désolée, pardonne-moi, je t’en supplie. Oh mon bébé, pardonne-moi…
</p>
<p class="narration">
    Ta mère.
    <br>Elle pleure, elle refuse de te lâcher.
    <br>Tu as envie de la consoler, de lui dire que tout va bien.
    <br>Mais elle se fait entraîner par deux infirmières, pendant que deux autres et un médecin se postent devant moi, à sa place.
    <br>Ils te parlent. Tu ne les écoutes pas.
    <br>Tu te sens comme hébété.
    <br>Ta jambe te fait mal.
    <br>
    <br>Entre les paroles incessantes du personnel médical, tu entends un bruit de roulettes.
    <br>Ton regard tente de percer au-delà des blouses.
    <br>Ils te cachent la vue.
    <br>Tu finis par distinguer un brancard qui passe dans le couloir.
    <br>Une autre mère.
    <br>Un autre enfant.
    <br>Tu as un étrange pressentiment.
</p>
<p class="citation">
    " Je suis désolée Ben… Oh mon dieu ! Je suis désolée !”
</p>
<p class="narration">
    Elle aussi, elle pleure…
    <br>Les larmes coulent petit à petit sur ton visage.
    <br>Et tu pleures avec elle.
</p>
<br>
<br>
<a href="../../../resources/docs/plan.pdf">
    <button class="choix">
        1. Cliquez pour voir les autres parcours possibles.
    </button>
</a>