<h1>
    Vous avez choisi de vous engager dans le couloir
</h1>
<p class="narration">
    Tu te retrouves à avancer dans un couloir lugubre, délabré, à l’image du reste du bâtiment d’après ce que tu as pu voir jusque-là.
    <br>Les murs sont simples, peints d’une couleur coquille d’œuf tout ce qu’il y a de plus neutre.
    <br>Des traces d’humidité ici et là, des fissures par endroits.
    <br>À intervalles réguliers sont accrochés des panneaux d’affichages, eux même placardés de maintes affiches.
    <br>Et sur la plupart des affiches, le même nom revient.
</p>
<p class="interaction3">
    Sanatorium de Wallasey
</p>
<p class="citation">
    “Le nom de cet endroit…”
</p>
<p class="narration">
    Toutes les portes sont fermées. Tu tentes d’en pousser une, mais elle est verrouillée.
</p>
<p class="citation">
    “Un téléphone… Il me faut un téléphone.”
</p>
<p class="narration">
    Tu t’arrêtes.
    <br>Une bibliothèque. Ou un secrétariat.
    <br>
    <br>Si tu parvenais à tomber sur l’une de ces pièces, tu trouverais sûrement un téléphone.
    <br>Tu accélères le pas, regardant au passage chaque panneau d’affichage dans l’espoir d’y trouver une indication.
    <br>Tu en viens même à négliger de regarder les portes.
</p>
<p class="citation">
    “Quelque chose ne va vraiment pas avec cet endroit…”
</p>
<p class="narration">
    Cette pensée a à peine effleuré ton esprit que quelques mots attirent ton attention.
    <br>Tu t’immobilises immédiatement.
</p>
<p class="interaction3">
    Affichage Administratif – Centre de Documentation
</p>
<p class="narration">
    Tu pousses la porte.
</p>
<br>
<br>
<br>
<br>