<h1>
    Vous avez choisi de donner un coup de hache à l’adulte
</h1>
<p class="narration">
    Tu continues sur ta lancée, sans t’arrêter.
    <br>Les deux Sans Âmes te barrent la route.
    <br>
    <br>Tu fonces en direction du plus grand, l’adulte.
    <br>Il a à peine le temps de montrer les crocs que tu fonds sur lui.
    <br>Dans un mouvement net, puissant, accompagné d’un rugissement bestial, ton bras assène un violent coup dans la cage thoracique.
    <br>Porté par le choc, il tombe en arrière et tu l’enjambes adroitement tout en arrachant la hache de son corps.
    <br>La porte est devant toi.
    <br>
    <br>Tu dévales les escaliers aussi vite que ta jambe te le permet.
    <br>La bête n’est pas loin.
    <br>Tu dévales les escaliers jusqu’au rez-de-chaussé.
    <br>
    <br>Là, il y a une porte.
    <br>
    <br>Tu l’ouvres d’un coup d’épaule. Et la claque derrières toi.
    <br>Pas le temps de t’arrêter.
    <br>Si tu veux vivre, tu dois continuer à courir.
    <br>
    <br>Tu es enfin dehors.
    <br>Tu n’es pas du côté des chapiteaux et de la foire, mais de celui d’une immense étendue d’herbe en friche.
    <br>Deux vieux buts de métal rouillés ayant perdu leur filet depuis longtemps se font face à chaque extrémité.
    <br>Il fait nuit, seule la lune dispense un faible halo de lumière sur le paysage, se reflétant sur quelques détritus qui jonchent le sol çà et là.
    <br>L’endroit parait terriblement froid.
    <br>Ainsi, ton ultime champ de bataille est à découvert.
    <br>
    <br>Tu souris.
    <br>
    <br>Tu pourras te battre plus aisément ici que dans la foire.
    <br>La bête arrive, tu l’entends.
    <br>Il lui aura fallut plus de temps que tu ne le pensais.
    <br>
    <br>Tu te tournes.
    <br>
    <br>Et c’est alors que tu les vois.
    <br>La bête n’est pas seule.
    <br>Cinq Sans Âmes l’accompagnent.
    <br>Et tu en vois d’autre, aux fenêtres, qui se dirigent vers les sorties.
    <br>Le sang quitte ton visage.
    <br>Le combat sera plus ardu que tu ne le pensais.
    <br>
    <br>Tu te reprends vite, et ta main se crispe sur la hache.
    <br>Ce n’est pas un problème.
    <br>Les monstres te font face.
    <br>Ils ne bougent plus, comme s’ils attendaient un signe de ta part.
    <br>Tu te penches, lentement, en ne les quittant jamais du regard.
    <br>Tu ramasses un détritus jonchant le sol.
    <br>
    <br>Une barre métallique.
    <br>
    <br>Encore un autre sourire.
</p>
<p class="citation">
    “Ben tient ça tombe bien.”
</p>
<p></p>
<p class="narration">
    Et tu t’élances.
</p>
<br>
<br>