<h1>
    Vous avez choisi de vous lancer sur les Sans Âmes
</h1>
<p class="narration">
    Tu accours, tête baissée, vers les monstres.
    <br>Il te faut tout d’abord éliminer les Sans Âmes.
    <br>Tu ne pourras pas contrer les attaques du loup si tu dois tout le temps faire attention à eux.
    <br>
    <br>La bête s’élance.
    <br>Vous foncez l’un sur l’autre, chacun animé par une volonté de vaincre que nul autre ne pourrait égaler.
    <br>Vous n’êtes plus qu’a quelques mètres l’un de l’autre.
    <br>L’affrontement est proche.
    <br>Tu souris.
    <br>
    <br>Au dernier moment, alors que la bête saute pour te plaquer à terre, tu l’esquives vivement.
    <br>Tu profites de ton élan et continue ta course en direction des Sans Âmes.
    <br>Ils se lancent à ta rencontre.
    <br>
    <br>Un coup de hache égorge le premier, un coup de barre en assomme un deuxième.
    <br>Tu te lances dans un combat acharné contre les monstres.
    <br>Les coups pleuvent.
    <br>Les rugissements s’intensifient.
    <br>Tes cris de rage, appelant le massacre et la défaite de tes ennemis.
    <br>
    <br>Mais le nombre de Sans Âmes qui croisse encore et toujours te dépasse peu à peu.
    <br>Ils sont beaucoup trop.
    <br>Tu continues de te battre avec autant de fougue, mais la voix dans ta tête te chuchote que tu ne vaincras pas.
    <br>
    <br>La bête court vers toi.
    <br>Tu seras submergé si elle parvient jusqu’à ta position.
</p>
<br>
<br>