<h1>
    Vous avez choisi de donner un coup de hache
</h1>
<p class="narration">
    Tu te relèves, hurles autant que tu as d’air dans les poumons et assènes un violent coup de hache sur la bête.
    <br>Elle hurle.
    <br>Un hurlement de douleur cette fois-ci.
    <br>
    <br>Tu te pétrifies immédiatement.
</p>
<p class="citation">
    – Daniel, non ! Qu’est-ce que tu as fait ? Mais qu’est-ce que tu as fait ?!
</p>
<p></p>
<p class="narration">
    Un hurlement d’agonie.
    <br>Les Sans Âmes se tournent vers vous et accourent.
    <br>Ta dernière heure approche, tu le sens.
    <br>Tes armes tombent sur le sol terreux et s’écrasent dans un bruit mat.
    <br>Tes bras sont ballants le long de ton corps.
</p>
<p class="citation">
    “Qu’est-ce que j’ai fait ?”
</p>
<p class="narration">
    Les Sans Âmes ne sont plus qu’à quelques mètres de toi.
    <br>Ce n’est qu’une question de secondes.
    <br>Les hurlements se taisent, se dissipent dans la nuit.
    <br>Ton corps est de plus en plus las.
    <br>Tu as l’impression qu’il échappe à tout contrôle.
    <br>
    <br>Les Sans Âmes s’arrêtent.
    <br>
    <br>Ils te regardent avec de grand yeux, puis se tournent.
    <br>Et, comme un seul homme, ils se ruent de nouveau sur Ben.
    <br>Vous vous ruez sur Ben.
    <br>
    <br>Avec horreur, tu vois ton corps bouger, gémir, grogner, tu n’as aucune emprise sur lui.
    <br>La dernière chose dont tu te souviens, c’est le regard dur de Ben.
    <br>Le regard qu’il eut en bandant son arc.
    <br>Tu n’as même pas vu la flèche arriver.
</p>
<p class="interaction1">
    <br>
    <br>
    <br>
    <br>
    <br><br> Biiiiiiiiiiiiip…
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>