<h1>
    Vous avez choisi de vous concentrer sur la bête
</h1>
<p class="narration">
    Tu esquives de justesse.
    <br>
    <br>Tu plonges de côté et la bête, emporté par son élan, se retrouve au milieu des Sans Âmes.
    <br>C’est alors que tu vois le Sans Âme abattu d’une flèche dans le crâne. Mais ce n’est pas tout.
    <br>D’autres s’effondrent, un à uns.
    <br>Ceux encore en vie t’ont délaissé et courent vers l’origine de la menace.
    <br>
    <br>Le bâtiment !
    <br>
    <br>Tu tournes vivement la tête.
</p>
<p class="citation">
    – Daniel ! Occupe-toi de la bête, retiens là jusqu’à ce que la lumière apparaisse ! Je m’occupe d’eux, mais n’oublie pas : ne la tue surtout pas !
</p>
<p></p>
<p class="narration">
    Ben. Un arc à la main, l’épée à la ceinture, debout sur le rebord d’une fenêtre du premier étage.
    <br>Tu es abasourdi de le voir.
    <br>Tu es sans voix.
    <br>
    <br>Le monstre rugit et détourne la tête du bâtiment.
    <br>Il fonce sur toi.
    <br>Ben recommence à abattre les Sans Âmes.
</p>
<p class="citation">
    – Merci…
</p>
<p class="narration">
    A peine as tu murmuré cela que tu dois esquiver un coup.
    <br>Il faut que la lumière apparaisse.
    <br>Vite.
    <br>Encore une esquive.
</p>
<br>
<br>