<h1>
    Vous avez choisi de vous enfuir par la porte du fond
</h1>
<p class="narration">
    Tu ne prends pas la peine d’évaluer la situation.
    <br>Si tu ne te dépêches pas, tu vas mourir, tu ne le sais que trop bien.
    <br>Tu fermes les yeux, prends ton courage à deux mains.
    <br>
    <br>Et tu cours.
    <br>
    <br>Le bruit de tes pas se répercute dans toute la salle, sur les murs de pierres, entre les rayonnages.
    <br>La bête s’élance à ta poursuite.
    <br>Tu sens sa présence derrière toi, la peur s’insinue de plus en plus en toi.
    <br>Ta jambe te porte tant bien que mal, mais elle tient.
    <br>Tu arrives enfin à la porte.
    <br>Elle ne résiste pas, et tu la refermes violemment derrière toi.
    <br>Tu as tout juste le temps de te rendre compte qu’il s’agit d’une réserve que la bête s’écrase contre la porte vitrée.
    <br>
    <br>Le verre explose.
    <br>
    <br>Une mâchoire noire se referme à quelques centimètres de ton oreille.
    <br>
    <br>Tu hurles.
    <br>
    <br>Un énorme loup noir se jette encore et encore contre la porte.
    <br>
    <br>De la taille d’un ours!
    <br>
    <br>Tu ne sais pas quoi faire.
    <br>Tu sens que tu craques.
    <br>Un flash traverse la pièce. Un flash de lumière blanche.
    <br>Ton cœur s’arrête.
    <br>
    <br>Il ne fait pas que manquer un battement, il s’arrête réellement.
    <br>
    <br>Tu tombes.
    <br>
    <br>Et soudain, tu sens de l’électricité parcourir ton corps.
    <br>
    <br>Ton cœur bat.
    <br>
    <br>Une fois.
    <br>
    <br>Une nouvelle décharge. Un nouveau battement. Les coups du loup dans la porte se font moins violents.
</p>
<p class="interaction6">
    …iel…
</p>
<p class="narration">
    Encore une décharge… Encore un battement…
</p>
<p class="interaction3">
    D…iel…
</p>
<p class="narration">
    Encore… Encore…
</p>
<p class="interaction2">
    Daniel… Je suis tellement désolée, j’ai besoin de toi. Reviens. Pardonne-moi ! J’ai BESOIN de toi !
</p>
<p class="narration">
    <br> Tout devient noir.
    <br>
    <br>
    <br>
    <br>
    <br>
</p>
<br>
<br>