<h1>
    Vous avez choisi de passer par la porte
</h1>
<p class="narration">
    La porte s’ouvre dans un grincement sinistre.
    <br>Tu la refermes derrière toi, de peur qu’une autre créature ne surgisse à ton insu.
    <br>
    <br>La pièce est exiguë, sombre.
    <br>
    <br>Au milieu trône un bureau simple, entouré de deux chaises pour les visiteurs et d’un fauteuil pour l’occupant, encombré de tout un tas de papiers et dossiers.
    <br>D’autres dossiers sont plus ou moins rangés dans un petit secrétaire, à droite de la porte.
    <br>La décoration est sommaire, elle ne se constitue que de diplômes et articles de journaux en tout genre encadrés ici et là.
</p>
<p class="citation">
    “Il s’agit certainement du bureau du directeur ou d’un type du genre.”
</p>
<p class="narration">
    Tu t’avances et commence consulter les documents entassés sur le bureau.
    <br>Tu remarques assez vite que beaucoup mentionnent le même nom.
    <br>En regardant sur les murs, tu te rends compte qu’il en est de même pour les articles.
</p>
<p class="citation">
    “Sanatorium de Wallasey… Qu’est-ce que je fais ici ?”
</p>
<p class="narration">
    Tu reviens à la consultation des documents.
    <br>Ton cœur manque un battement.
    <br>L’agenda, près du sous-main…
</p>
<p class="interaction3">
    19 décembre 1953
</p>
<p class="narration">
    Il n’est pas possible que ce soit la véritable date.
    <br>Tu sens la panique poindre en toi.
    <br>
    <br>C’est simplement impossible.
    <br>
    <br>Puis tu te reprends.
    <br>Sous toutes les coutures que tu prennes le problème, tu ne peux qu’admettre que le bâtiment est laissé à l’abandon depuis un certains temps.
    <br>Il n’y a pas à sombrer dans des théories de sciences-fictions délirantes.
    <br>
    <br>Mais quand bien même le bâtiment serait inhabité depuis tant d’années, comment diable es-tu arrivé là ?
    <br>
    <br>Un grincement dans ton dos.
    <br>
    <br>Un filet de sueur froide le long de ton dos.
    <br>
    <br>Un grognement long, profond…
    <br>
</p>
<p class="interaction1">
    <br>
    <br>
    <br>
    <br>
    <br><br> Biiiiiiiiiiiiip…
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>