<h1>
    Vous avez choisi de courir vers l’entrée
</h1>
<p class="narration">
    Tu ne prends pas la peine de te retourner.
    <br>Une bouffée d’adrénaline t’envahis et tu cours aussi vite que tu le peux vers la porte d’entrée, tout en priant pour qu’elle soit ouverte.
    <br>La présence derrière toi se lance à ta poursuite, en rugissant bestialement.
    <br>Ses pas sont lourds.
    <br>La seule chose que ton cerveau enregistre à ce moment, ce ne sont que les mots qui trônent en lettres capitales au-dessus de la porte.
    <br>Trois mots en cuivre, couverts de vert-de-gris.
</p>
<p class="interaction1">
    <br>
    <br>Sanatorium de Wallasey.
    <br>
    <br>
</p>
<p class="narration">
    <br>Tu arrives au niveau de l’entrée.
    <br>Tu pousses le lourd battant qui grince et peine à s’ouvrir.
    <br>Ta jambe meurtrie te fait souffrir, mais tu t’acharnes jusqu’à ce que la porte cède enfin suffisamment pour que tu puisses te faufiler à l’intérieur.
    <br>Tu la refermes juste à temps, et le monstre que tu supposes être un des animaux de foire qui n’étaient plus dans sa cage s’écrase avec fracas contre le battant.
    <br>Il hurle de rage au-dehors, et tu tombes assis, soulagé.
    <br>Tu reprends peu à peu tes esprits.
    <br>
    <br>Wallasey…
    <br>
    <br>Ce nom te dit quelque chose, mais tu n’arrives pas à te rappeler d’où cela vient.
    <br>Les hurlements et grognements se tarissent, le monstre s’enfuit.
    <br>Ton cœur finit par se calmer, et tu te relèves tant bien que mal.
    <br>
    <br>Tu regardes enfin autour de toi.
    <br>
    <br>Étrangement, il n’y a que deux endroits où aller.
    <br>Tu t’attendais pourtant à des dédales de couloir, des bureaux d’accueil, d’administration…
    <br>Mais tu ne peux aller que dans un couloir sur ta droite, ou par une porte fermée devant.
    <br>Il y a également un escalier au fond à gauche, mais une partie s’est écroulée.
</p>
<br>
<br>
<br>
<br>