<h1>
    Vous avez choisi d’entrer dans le centre de documentation
</h1>
<p class="narration">
    Tu retiens ta respiration.
    <br>
    <br>Tu te plaques par terre et regarde sous les rayonnages.
    <br>Quelques mètres sur la droite, les pattes noires de la bête avancent doucement, sa queue fouettant le sol derrière elle.
    <br>Tu te redresses, le souffle court.
    <br>
    <br>Il va falloir faire vite…
    <br>Très vite.
    <br>
    <br>Tu prends ton courage à deux mains et cours.
    <br>
    <br>Tu cours aussi vite que tu le peux.
    <br>Ton sang tape à ta tempe.
    <br>L’adrénaline emplit ton corps peu à peu.
    <br>Et tu l’entends.
    <br>La bête hurle et se rue à ta suite.
    <br>La porte n’est plus qu’à quelques foulées, mais le monstre te rattrape.
    <br>Tu rassembles toutes tes forces et donnes un violent coup d’épaule dans le rayonnage à ta droite, qui s’écroule sur le sol avec fracas. La bête jappe et tu l’entends s’écrouler derrière toi.
    <br>
    <br>Tu ne t’arrêtes pas.
    <br>Tu atteins enfin la porte, sort en trombe et la referme derrière toi.
    <br>
    <br>Tu regardes partout, ton regard est affolé.
    <br>Près d’une porte, tu aperçois un balai, dont le manche semble être fait de métal.
    <br>Tu te rues dessus, et bloque la porte avec.
    <br>
    <br>Après quoi tu cours vers l’autre bout du couloir.
    <br>Tu tombes sur une cage d’escalier. Tu t’empresses de monter, jusqu’à atteindre l’étage supérieur.
    <br>Il a l’air semblable à celui que tu viens de quitter.
    <br>
    <br>Tu dois te cacher.
    <br>
    <br>Il semble y avoir une salle plus grande au bout du couloir et, comme à l’étage inférieur, une enfilade de chambres. La pièce du fond serait-elle une infirmerie ?
</p>
<br>
<br>
<br>
<br>