<h1>
    Vous avez choisi d’entrer dans le centre de documentation
</h1>
<p class="narration">
    Le centre de documentation est tout aussi lugubre que le reste.
    <br>La douleur à ta jambe se réveille et tu serres les dents.
</p>
<p class="citation">
    “Le téléphone. Il faut que je trouve le téléphone.”
</p>
<p class="narration">
    Tu regardes de tout les côtés. Des rayonnages de livres et autres documents, partout.
    <br>Cette pièce est véritablement mal agencée.
    <br>Il n’y a pas trace d’un bureau ou d’un quelconque endroit où trouver un responsable.
    <br>Alors encore moins pour trouver un téléphone.
    <br>Tu avances entre les rayonnages, boitant légèrement.
    <br>
    <br>Si tu ne trouves pas de téléphone dans cette pièce, tu iras chercher l’infirmerie. Si tu es dans un sanatorium, il doit bien y avoir un endroit où ils stockent leurs médicaments, n’est-ce pas ?
    <br>
    <br>Au fond, tu aperçois une carte de l’Angleterre.
    <br>
    <br>Il y a une ville entourée au feutre noir.
</p>
<p class="interaction3">
    Wallasey
</p>
<p class="narration">
    Pire encore, à côté de la carte se trouve une desserte, sur laquelle trônent quelques dépliants et un petit calendrier.
</p>
<p class="interaction1">
    19 décembre 1953
</p>
<p class="narration">
    Tu te sens terriblement perdu.
    <br>
    <br>Qu’est-ce que tu peux bien faire dans le Nord-Ouest de l’Angleterre en 1935 ?
    <br>
    <br>Tu te laisses tomber à terre, les genoux repliés contre toi.
    <br>Mais tu n’as pas le temps de reprendre tes esprits, ni même de réfléchir sur la situation.
    <br>Un grognement, des bruits de griffes qui s’entrechoquent avec le sol carrelé.
    <br>Ton sang ne fait qu’un tour, tu rampes à genoux jusqu’à un rayonnage derrière lequel tu te caches.
    <br>
    <br>En examinant la salle tout à l’heure, tu as remarqué une sortie sur l’arrière de la salle.
    <br>Mais tu ne sais pas ce qu’il y a de ce côté.
    <br>En revanche si tu veux fuir dans le couloir, tu ne sais pas si ta jambe te portera suffisamment longtemps pour semer le monstre.
</p>
<br>
<br>
<br>
<br>