<h1>
    Vous avez choisi de sauter par la fenêtre
</h1>
<p class="narration">
    Le verre se brise sous ton poids.
    <br>
    <br>Heureusement pour toi, une tonnelle avait été monté sous la fenêtre.
    <br>Tu tombes lourdement sur le dos, la toile tendue amortit ta chute et tu glisses lentement vers le bord.
    <br>Tu te retournes et te retiens à l’armature. Tes jambes balancent dans le vide.
    <br>Tu prends ton courage à deux mains.
    <br>Tu te laisses tomber à terre.
    <br>Décidément, tu as beaucoup de chance aujourd’hui. Tes pieds n’étaient pas bien loin du sol.
    <br>Tu te rattrapes gauchement, mais ta jambe droite peine à te porter et plis sous ton poids sans crier gare.
    <br>Tu te retrouves allongé sur le sol.
    <br>
    <br>Sonné, tu regardes autour de toi, évaluant ce qui t’entoure. Tu te rends compte, assez déconcerté, que tu te trouves dans une foire.
    <br>Une sorte de kermesse de village, avec des stands bariolés proposant des activités que l’on trouve dans toute foire digne de ce nom.
    <br>Des étalages de confiseries, des jeux en tout genre, du maquillage, des drapeaux qui battent au vent…
    <br>
    <br>Il n’y a pas de vent…
    <br>
    <br>Étrangement, c’est ce détail qui te fait réagir.
    <br>Tu te lèves lentement, en te tenant à la table du stand sur lequel tu es tombé.
    <br>La foire ressemble à celles des photos en noir et blancs des années 50.
    <br>Mais surtout, elle est vide.
    <br>
    <br>Complètement vide.
    <br>
    <br>Tu regardes plus attentivement les stands.
    <br>Quelque chose d’autre cloche…
    <br>Tu te dis qu’elle ne devrait pas être vide. Mais, ce pressentiment n’a pas de rapport avec l’absence de présence humaine.
    <br>Ton regard se pose sur elles…
    <br>Tu comprends alors d’où te vient cette impression…
    <br>Dans le fond, des cages d’animaux de foire.
    <br>
    <br>Vides…
    <br>
</p>
<p class="citation">
    “Et Mince !”
</p>
<p class="narration">
    Tu avances prudemment parmi les chapiteaux et les jeux d’enfants qui soudain avaient prit un air malsains.
    <br>Il n’y a aucun bruit alentours, hormis celui des fanions qui battent dans ce vent qui n’existe pas.
    <br>Et surtout celui de ton cœur, qui bat encore plus fort.
    <br>Tu continues d’avancer, le souffle court. Tu te caches derrières les tentures.
    <br>
    <br>Tu n’es pas seul.
    <br>
    <br>Tu le sens, au fond de toi, même s’il n’y a aucun signe de vie.
    <br>Tout à coup une lumière vive traverse le ciel, plus qu’un éclair, un flash dans le bleu du ciel.
    <br>Tu t’arrêtes, au niveau d’un stand de tir à l’arc.
    <br>Ça ne ressemblait à rien que tu ne connaisses.
    <br>Et soudain, tu sens un souffle chaud et humide dans ton cou.
    <br>
    <br>Ton cœur s’arrête.
    <br>
    <br>L’entrée de l’hôpital est à une petite centaine de mètres devant toi.
</p>
<br>
<br>