<h1>
    Vous avez choisi de continuer
</h1>
<p class="narration">
    Un bourdonnement.
    <br>
    <br> La première chose que tu remarques est un bourdonnement dans tes oreilles. Tout est embrouillé, tu ne te souviens de rien. Malgré tout, tu te sens bien.
    <br>
    <br>Merveilleusement bien.
    <br>
    <br>Tu devrais t’en réjouir, mais quelque chose cloche avec cela. Comme si tu n’étais pas censé te “sentir bien”.
</p>
<p class="interaction5">
    Le bourdonnement se fait insistant.
</p>
<p class="narration">
    Tu te sens comme dans du coton, ton esprit flotte mollement. D’ailleurs, tu as du mal à penser correctement.
    <br>Mais d’ailleurs… Que fais-tu là ?
</p>
<p class="interaction5">
    Le bourdonnement s’intensifie.
</p>
<p class="narration">
    Où es-tu ?
    <br>Tu ne parviens à te souvenir de rien. Tu paniques.
    <br>Enfin, autant que tu le puisses dans ton état quasi-végétatif.
    <br>Et tu commences peu à peu à prendre conscience d’autre chose:
    <br>
    <br>Ton corps.
    <br>
    <br>Tu ne sens plus ton propre corps.
    <br>Tu te concentres autant que tu le peux, mais tu n’arrives à rien.
</p>
<p class="interaction5">
    Le bourdonnement devient plus clair. C’est un mot.
</p>
<p class="narration">
    Un mot ! Un signe de l’extérieur ! Tu te concentres sur le bourdonnement cette fois.
</p>
<p class="interaction5">
    "…l”
</p>
<p class="narration">
    Encore…
</p>
<p class="interaction5">
    "… el”
</p>
<p class="narration">
    Encore.
</p>
<p class="interaction5">
    “D…”
</p>
<p class="narration">
    ENCORE !
</p>
<br>
<p class="interaction5">
    “Daniel.”
</p>
<br>
<p class="narration">
    Tu ouvres les yeux.
    <br>
    <br>
    <br>Une lumière crue t’aveugle.
    <br>Tu portes vivement la main devant tes yeux et détournes le regard.
    <br>Tes yeux finissent pas s’habituer et, étrangement, la lumière n’est pas si éblouissante.
    <br>Au moins, ton corps répond correctement. Tu en es soulagé.
    <br>Tu t’assois sur le bord du lit, un lit plutôt sommaire mais entouré de toute une batterie d’équipements.
    <br>
    <br>La pièce est plutôt exiguë.
    <br>
    <br>Hormis le lit et les équipements qui l’entourent tu vois une table dans un coin, près de la fenêtre, où sont entassés un tas de feuilles et quelques seringues vides.
    <br>Tu en déduis assez facilement que tu te trouves dans un hôpital.
    <br>Et tu te souviens de coups.
    <br>
    <br>Enfin, disons plutôt que ton corps s’en souvient. Tu ressens de la douleur.
    <br>
    <br>Des bruits se font entendre dans le couloir.
    <br>
    <br>Des pas.
    <br>
    <br>Tu t’approches de la porte, tu essayes de l’ouvrir.
    <br>Rien.
    <br>Elle ne s’ébranle même pas, complètement verrouillée.
    <br>Affolé, tu regardes autour de toi.
    <br>Le seul moyen que tu as de sortir est de sauter par la fenêtre.
    <br>
    <br>Une bouffée de chaleur t’envahis.
    <br>
    <br>Tu as peur.
</p>