<h1>
    Vous avez choisi de vous enfuir en vous retournant
</h1>
<p class="narration">
    Le monstre est fermement accroché à toi.
    <br>Il ne veut pas lâcher prise.
    <br>Sa mâchoire claque dans le vide, à deux doigts de ton bras.
    <br>Tu rassembles tes dernières forces et lui donnes un violent coup de pied qui l’envoie s’écraser contre le mur opposé.
    <br>
    <br>Il ne bouge plus.
    <br>
    <br>Tu te redresses tant bien que mal et approches légèrement.
    <br>Le garçon est affalé contre le mur, les yeux grands ouverts.
    <br>Ses cheveux sont poissés de sang.
    <br>
    <br>Tu recules immédiatement.
    <br>
    <br>Il s’est fracassé le crâne contre un crochet.
    <br>Un coup de chance pour toi, un mauvais pour lui.
    <br>Tu ne peux rester plus longtemps dans cette pièce.
    <br>
    <br>Tu sors.
    <br>
    <br>C’est à ce moment qu’un violent craquement se fait entendre.
    <br>Puis un hurlement.
    <br>Et un grondement sourd dans les escaliers.
</p>
<p class="citation">
    “Il arrive.”
</p>
<p class="narration">
    Tu cours vers le fond du couloir.
    <br>Ta jambe est de plus en plus faible, à tel point que tu en viens à boiter.
    <br>Tu accélères, du moins autant que tu le peux.
    <br>Tu atteins enfin la porte.
    <br>Et tu entends un violent craquement, suivi d’un hurlement qui te glace le sang.
    <br>
    <br>Il est dans le couloir.
    <br>
    <br>Tu te rues à l’intérieur et referme le battant derrière toi.
    <br>Il arrive.
    <br>
    <br>Il va venir te chercher.
    <br>
    <br>Paniqué, tu regardes tout autour de toi, comme tu as pris l’habitude de le faire à chaque fois que tu entres dans une nouvelle pièce.
    <br>Il s’agit sans doute d’une salle de soin, constituée de plusieurs armoires.
    <br>Des brancards sont alignés dans un coin, ainsi que de nombreux portants pour l’usage de poches de soin destinées aux transfusions.
    <br>
    <br>Vite, tu dois te protéger !
    <br>
    <br>Les doubles battants ont des poignées qu’il serait facile de bloquer.
    <br>Tu prends un des portants et t’en sert pour cela.
    <br>La bête s’écrase contre la porte.
    <br>
    <br>Le portant résiste.
</p>
<p class="citation">
    – Qui es-tu ?
</p>
<p class="narration">
    Tu te retournes, incrédule.
    <br>Un enfant vient de sortir d’une des armoires, une épée au poing.
</p>
<p class="citation">
    – Toi, qui es-tu ?
    <br>- J’ai posé la question en premier, réponds-moi ou je te tranche la gorge.
</p>
<p class="narration">
    Sur ce, il tend son épée vers toi.
    <br>Après avoir échappé à un monstre, tu vas donc te faire égorger par un enfant.
    <br>
    <br>Quelle belle journée…
</p>
<p class="citation">
    - Je suis Daniel. Avant que tu ne poses la question, je ne sais pas ce que je fais là.
    <br>- Ben.
    <br>- Quoi ?
    <br>- Je m’appelle Ben.
    <br>- Où est-ce qu’on est ?
</p>
<p class="narration">
    Tu te mords la lèvre.
    <br>Tu ne sais rien du petit garçon, et quand bien même ce serait le cas il peut paraître bien prompt de demander ceci aussi directement.
</p>
<p class="citation">
    - A Wallasey, Angleterre du Nord-ouest. Au Sanatorium du même nom. Je ne t’ai jamais vu ici avant.
    <br>- Je t’ai dit, je ne sais pas ce que je fais là. Je suis apparu dans une chambre de l’étage inférieur.
    <br>- Comme nous tous. Pourtant ils finissent tous par devenir… Différent.
</p>
<p class="narration">
    L’enfant a alors un sourire triste.
    <br>Et son visage prend soudain 20 ans de plus.
</p>
<p class="citation">
    - Qu’est-ce que tu entends, par "différent" ?
    <br>- N’as tu pas entendu des bruits dans les couloirs ? Des bruits de pas ? N’as-tu pas vu d’autres gens ? Ce sont les Sans Âmes. Récemment, c’est Lucy qui est devenu Sans Âme. Elle était très jeune, plus jeune que moi. Cela m’a étonné, normalement il faut plusieurs années avant qu’ils ne virent ainsi.
</p>
<p class="narration">
    Tu ne comprends plus rien.
    <br>Qu’est-ce que ça veut dire…
    <br>Un Sans Âme, serait-ce ce qui est affaissé dans la chambre plus loin, contre le crochet?
</p>
<p class="citation">
    - Comment devient-on Sans Âme ?
    <br>- En se faisant attraper par la bête. Mais tu sais, le plus ironique est qu’il n’y a que comme ça que tu peux sortir d’ici.
</p>
<p class="narration">
    Nouveau coup du monstre, qui rua de nouveau contre la porte.
    <br>Ben marque une pause, puis reprends.
</p>
<p class="citation">
    - Si tu n’es pas en train de mourir, les gens de l’extérieur ne font rien pour te réveiller. Mais attention, si tu ne parviens pas à revivre, tu mourras. Et tu deviendras un Sans Âme. Si tu te fais attraper par un Sans Âme et qu’il te mord, là tu n’auras aucune chance. Tu mourras purement et simplement. Aucune chance que les autres ne te réveillent.
    <br>- C’est quoi ce bordel ?! Merde, qu’est-ce que tu racontes ? Tu te fous de moi ? Hein ? C’est forcément ça… Haha, oui, c’est ça !
</p>
<p class="narration">
    Tu éclates de rire.
    <br>Un rire sans joie.
    <br>La petite voix dans ta tête te souffle que tu es hystérique.
    <br>L’enfant prend un air peiné.
    <br>
    <br>Un flash blanc traverse la pièce.
    <br>Il la balaie plusieurs fois avant de s’arrêter.
    <br>
    <br>Ben sourit.
</p>
<p class="citation">
    - Tiens, tu en as de la chance. Les gens de l’extérieur s’inquiètent pour toi. Tu vas peut-être pouvoir t’en sortir, qui sait ?
    <br>- Que faut-il faire ?
    <br>- Pardon ?
</p>
<p class="narration">
    Tu te reprends tant bien que mal.
    <br>Tu n’as pas d’autres explication après tout, et Ben a l’air sérieux.
</p>
<p class="citation">
    - Ben, dis-moi ce que je dois faire pour partir d’ici. Tout est dans ma tête ? Dis-moi !
    <br>- Plus ou moins. À vrai dire, je ne le sais pas exactement. Tout cela se passe par l’intermédiaire de nos esprits, cela ne fait aucun doute, mais de là à dire que tout est dans notre tête… Enfin ! Du moins, je peux t’aider à partir. Comme je te l’ai dit, la bête est la clé. Je te conseille de tenter le coup lorsque la lumière apparaît.
</p>
<p class="narration">
    Nouveau coup contre la porte.
</p>
<p class="citation">
    - La lumière ? Tu veux dire, le flash blanc ?
    <br>- Oui oui, c’est ce que je veux dire. Trouve la bête. Lorsque la lumière apparaît – et elle apparaîtra pour toi – profite en pour l’attaquer. Je ne pourrai pas t’aider. Nous avons tous notre propre bête. Je ne peux donc rien pour la tienne. Si tu la tues, tu vivras. Si tu échoues, tu as une mince chance de pouvoir vivre tout de même.
    <br>- Et toi, que vas-tu faire pendant ce temps ?
</p>
<p class="narration">
    L’enfant te sourit, un sourire doux et triste à la fois.
</p>
<p class="citation">
    - Je vais rester ici. Ma bête a disparu depuis longtemps. On ne peut rien pour moi. Je me contente de rester ici, de donner conseils aux nouveaux et d’éviter les Sans Âmes.
</p>
<p class="narration">
    Tu ne comprends pas tout, mais tu sens que tu ne peux rien pour lui.
    <br>Comme il te l’a dit, tu peux survivre, toi.
    <br>Tu peux sortir d’ici.
</p>
<p class="citation">
    - Ne veux-tu pas venir avec moi ?
    <br>- Je n’y tiens pas. Je préfère rester ici. Tu sais, on finit par s’y faire. Si ta bête disparaît, alors rejoins-moi.
</p>
<p class="narration">
    Il sourit une dernière fois et retourne dans l’armoire d’où il était sorti.
    <br>Tu ne l’en empêches pas.
    <br>Tu retournes sur tes pas.
    <br>
    <br>La bête
    <br>
    <br>Tu en oublis la douleur à ta jambe.
    <br>
    <br>Tu en oublis ta peur.
    <br>
    <br>Tu dois fuir d’ici.
</p>
<br>
<br>