<h1>
    Vous avez choisi de vous retourner
</h1>
<p class="narration">
    Tu te retournes.
    <br>Tu entends chaque battement de ton cœur avec une clarté déconcertante.
    <br>Derrière toi, il y a…
    <br>Le souffle se transforme en grognement. Le grognement en hurlement.
    <br>Un loup. Un loup de la taille d’un ours !
    <br>Tu hurles, et ton hurlement se joint à celui du loup.
    <br>Les deux bruits montent et s’élèvent dans le ciel.
    <br>Tu n’as plus le temps de courir. Tu ne le sais que trop bien.
    <br>
    <br>La bête attaque. Tu entends alors des voix. Des voix étrangères.
    <br>
    <br>La gueule du loup se referme sur toi.
    <br>Tu hurles de plus belle. Ton cœur s’affole.
    <br>Tu ressens une décharge.
    <br>Le loup attaque à nouveau.
    <br>Chaque attaque est suivi d’une décharge, chaque décharge est suivie par un battement sec de ton cœur.
    <br>Mais, les battements se font de plus en plus faibles à chaque fois.
    <br>Le loup fini par partir, fuyant vers les bois au loin.
    <br>Tu restes, seul.
    <br>Le flash blanc traverse une nouvelle fois le ciel.
    <br>
    <br>Tu sens ton esprit partir…
    <br>
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<p class="interaction1">
    Biiiiiiiiiiiiip…
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>