<h1>
    Vous êtes mort
</h1>
<p class="citation">
    “Comment ai-je pu faire une telle chose à mon enfant ? Oh Daniel… Tout des de ma faute !”
</p>
<p class="narration">
    Elle pleure.
    <br>C’est une belle femme.
    <br>Il émane d’elle une certaine élégance.
    <br>Elle est simplement apprêtée pourtant, une simple robe noire, pas de maquillage ni de bijoux hormis la bague de fiançailles qu’elle affectionne tant.
    <br>Bien que le mariage n’eus jamais lieu.
    <br>Tu as toujours aimé la voir comme ça, plutôt que dans les vêtements vulgaires qu’elle porte pour aller travailler.
    <br>Tu trouves que ces fripes lui donnent l’air déguisé.
    <br>
    <br>À cet instant, elle est assise à ton chevet, à l’hôpital.
    <br>Que t’est-il arrivé ?
    <br>La bête t’a-t-elle attrapé ?
    <br>Ou serait-ce les Sans Âmes ?
    <br>Quoi qu’il en soit, tu as échoué, tu n’es pas parvenu à sortir de ce monde.
    <br>Et ton électrocardiogramme est plat.
    <br>
    <br>Désespérément plat.
</p>
<br>
<br>